@font-face {
    font-family: "alipuhui";
    src: url("./font/ad7f58l.woff2"), url("./font/ad7f58d.woff"), url("./font/ad7f58m.opentype");
    font-weight: 400;
    font-display: auto;
    font-stretch: normal;
}

@font-face {
    font-family: "alipuhui";
    src: url("./font/1a4373l.woff2"), url("./font/1a4373d.woff"), url("./font/1a4373m.opentype");
    font-weight: 500;
    font-display: auto;
    font-stretch: normal;
}
