@use "./normalize.scss" as *;

$fontFamily: alibaba-puhuiti, sans-serif;

$color: #212121;

$span: calc(calc(100vw - 20px * 2 - 11 * 24px - 24px * 2) / 12);

@mixin gridCol($val) {
    width: calc(calc($span * $val) + calc(($val - 1) * 24px));
}

$mobileSpan: calc(calc(100vw - 16px * 2 - 11 * 20px - 24px * 2) / 12);

@mixin mobileGridCol($val) {
    width: calc($mobileSpan * $val + calc($val - 1) * 20px);
}

@mixin TypeBackground {
    position: relative;
}

html,
.wrapper,
body,
body > div:not([class], [id]) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html,
body {
    overflow: hidden;
}

.wrapper {
    background-color: #fff;
    background-image: url("./Assets/img/bg.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    padding: 24px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.warehouse_wrap {
    margin-top: 32px;
    width: 100%;
}

.warehouse_total {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    color: #fafafa;
}

.warehouse_totalVal {
    color: #57f1f1;
    margin: 0 5px;

    &.red {
        color: #ff7745;
    }
}

.warehouse_items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    margin-top: 8px;
    padding-bottom: 24px;
    box-sizing: border-box;
    max-height: 178px;
    overflow: auto;
    overflow-x: hidden;
    min-height: 100px;
}

.warehouse_scrollWrap {
    margin-top: 8px;
    box-sizing: border-box;

    &.scroll_scrollContainer {
        height: auto;
    }
}

.hr {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-top: 10px;
}

.hr_icon {
    width: calc(100% - 11px);
    height: 13px;
}

.hr_last {
    margin-left: 3px;
    transform: translateY(2px);
}

.warehouse_scrollBody {
    min-height: 100px;
    max-height: 178px;
    position: relative;
    display: flex;
    padding-bottom: 24px;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
}

@mixin ItemBg {
    position: absolute;
    border-radius: 9px;
    top: 0;
    left: 0;
    height: 100%;
}

@mixin ItemSvgBg {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;

    svg {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
    }
}

@mixin Item {
    display: inline-flex;
    border-radius: 6px;
    touch-action: none;
    max-width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    z-index: 7;
    color: #fafafa;
    .itemBg {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }
    .itemContent {
        position: relative;
        z-index: 2;
        padding: 8px 12px;
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.2px;
        box-sizing: border-box;
        word-wrap: break-word;
        word-break: break-word;
        white-space: pre-wrap;
        flex-flow: row wrap;
        overflow: hidden;
    }
}

.item {
    cursor: pointer;
    @include Item();
    position: relative;

    &.gray {
        overflow: hidden;
        background-color: rgba(#fff, 0.2);
        background-image: none;
        color: transparent;
        * {
            visibility: hidden;
        }
    }
}

.floating {
    @include Item();
    position: absolute;
    z-index: 50;
    pointer-events: none;
}

.scroll_scrollBar__vertical {
    right: 4px;
}

.placeholder {
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 21px;
    padding: 0 10px;
}

.storageCabinet_wrap {
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    background: linear-gradient(
        172deg,
        rgba(208, 241, 255, 0.24) 11.6%,
        rgba(128, 224, 255, 0.3) 95.78%
    );

    position: relative;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 12px;
    height: 220px;
    padding: 20px;
    box-sizing: border-box;
}

.storageCabinet_ltIcon {
    position: absolute;
    top: 19px;
    left: 17.5px;
    pointer-events: none;
}

.storageCabinet_rbIcon {
    position: absolute;
    bottom: 17.5px;
    right: 19px;
    pointer-events: none;
}

.storageCabinet_container {
    background: #0e446f;
    box-shadow: inset 0px 4px 35px rgba(0, 143, 188, 0.25);
    border-radius: 6px;
    height: 100%;
    width: 100%;
    transition: all 0.2s linear;
    &.storageCabinet_container__active {
        box-shadow: inset 0px 4px 35px rgba(0, 143, 188, 0.25),
            0 0 5px 1px rgba(255, 255, 255, 0.25);
    }
}

.storageCabinet_main {
    padding: 15px 5px 0 5px;
}

.transition {
    transition-duration: 600ms;
    transition-property: transform;
}

.warehouse_body {
    width: calc(100% + 20px);

    > .item {
        margin-right: 20px;
        margin-bottom: 16px;
    }
}

.storageCabinet_main {
    .item {
        margin: 0 10px 16px 10px;
    }
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    flex: 0 0 auto;
}

.questionContent {
    color: #57f1f1;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #72bbbb;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}
